/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* reset of settings or normalizing for every browser*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* not adding marging and padding to the box */
    /* using box sizing from the body box sizing is not inherrited but putting in * make it inhereted */
    box-sizing: inherit;
}

/* the root size is set in the html selector */

html {
    /* the default is 16px but if the user changes it will affect all that's way dont put 10px */
    font-size: 62.5%;
}

body {
    /* it's more efficient to include fonts in the body */
    font-family: "Lato", sans-serif;
    /* normal font-weight */
    font-weight: 400;
    /* font-size: 16px; */
    /* A multiplier of the computed font size. */
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

/* formating the header */

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 131, 0.7)), url("../img/hero.jpg");
    background-size: cover;
    /* top of the image is not changing */
    background-position: top;
    /* in order to use absolute position in logo-box have to use relative position in parent */
    position: relative;
    clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box-header {
    /* parvo postaviame gornia liav na 40 i 50% ot agala i sled tova go translirame na 50% */
    position: absolute;
    /* 40 are in relation to the parent element */
    top: 40%;
    left: 50%;
    /* -50 i -50 are in relation to the same element */
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* An element's back face is a mirror image of its front face. Though invisible in 2D, the back face can become visible when a transformation causes the element to be rotated in 3D space. (This property has no effect on 2D transforms, which have no perspective.) */
    backface-visibility: hidden;
    /* for space between headin and button */
    margin-bottom: 6rem;
}

.heading-primary--main {
    /* span is inline but block elements create break */
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBtn {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* button is inline element and for diplaying it as a block  */
    display: inline-block;
    /* it is treated as a text so to be in a center set his text-align in the center in parent element */
    /* put high nimber like 100px */
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    /* btn to move up */
    transform: translateY(-0.3rem);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-0.1rem);
    /* to look smaller so create effect of pushing the button */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    /* after element is treated like a child to the element */
    /* must specify content and diplay properties to appear */
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    /* make it big */
    transform: scaleX(1.05) scaleY(1.1);
    /* and then fade out */
    opacity: 0;
}

.btn--animated {
    animation-name: moveInBtn;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    /* btn not to be visible before animation */
    animation-fill-mode: backwards;
}